body {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  gap:1%;
  color: white;
  font-weight: 500;
font-size: 18.4608px;
}
.fav-place{
  display: flex;
  gap: 2%;
  margin: 0 3%;
  padding-top: 2%;
  width: 55%;
  padding:  3%;
}
.image{
  border-radius: 10px;
  width:40%;
  min-height:300px;
}
.pin {
  width: 8px;
}
.location {
  padding-top: 3%;
}
a {
  color: #918E9B;
}

@media (width < 800px)
{
  .image{
    width: 38%;
    min-height: 250px;
  }
  .fav-place{
    width: 100%;
    padding: 3% 0%;
  }
}